{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}
<ul> <h1>Tablas de las queries en la BD no relacional MongoDB</h1>
  <li><h3> La primera tabla contiene toda la información de las comedias del año 1997, y que contienen la palabra “Life” en el título. </h3></li>
  <li><h3> La segunda tabla contiene toda la información de las películas que han sido dirigidas por Woody Allen en los años 90."</h3></li>
  <li><h3> La tercera tabla contiene toda la información de las películas en las que Jim Parsons y Johnny Galecki han compartido reparto.</h3></li>
</ul>
{% for consulta in consultas %}
  <table id="top">
    <tr>
      <th>Titulo</th>
      <th>Generos</th>
      <th>Year</th>
      <th>Actores</th>
      <th>Directores</th>
      <th>Most related</th>
      <th>Related</th>
    </tr>
    {% for peli in consulta %}
    <tr>
      <td>{{ peli.title }}</td>
      <td>
        <ul>
          {% for genre in peli.genres %}
            <li>{{ genre }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>{{ peli.year }}
      <td>
        <ul>
          {% for actor in peli.actors %}
            <li>{{ actor }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <ul>
          {% for director in peli.directors %}
            <li>{{ director }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <ul>
          {% for p in peli.most_related_movies %}
            <li>{{ p.title }}--{{ p.year }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <ul>
          {% for p in peli.related_movies %}
            <li>{{ p.title }}--{{ p.year }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <hr>
  <br>
{% endfor %}
{% endblock %}
