{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}

<div class="carr_titulo">
  <h1>Carrito de peliculas</h1>
</div>
<div class="div1">
        <table border="1">
          {% for movie in carrito_movies %}
          <tr><td>1.{{movie.titulo }} ..||.. Precio: {{movie.precio}}
            <br>
                                                              <input name="saldo" type="number" placeholder="Enter amount of films" pattern = "/d+" min="1" step="1">
                                                              </a>
                                                              <br>
                                                              <a href="/carrito">
                                                                <input type="submit1" value="Actualizar cantidad">
                                                              </a>
                                                              <a href="/carrito">
                                                              <input type="submit" value="Eliminar pelicula"> </tr></td>
                                                              </a>
          {% endfor %}
        </table>
</div>
<div class="carrito_button">
  <a href="/carrito">
        <input type="submit" value="Comprar">
  </a>
</div>
{% endblock %}
