{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}

<div class="carr_titulo">
  <h1>{{ movie.titulo }}</h1>
</div>
<div class="details">
      <img src="{{ movie.poster }}" alt="Portada de {{ movie.titulo }}.">
</div>
<div class="list-form">
  <ul>
    <li><strong>Director:</strong> {{ movie.director }} </li>
    <li><strong>Categoria: </strong>{{ movie.categoria }}</li>
    <li><strong>Precio:</strong> {{ movie.precio }}</li>
    <li><strong>Tipo:</strong> {{ movie.description }}</li>
    <li><strong>Ano:</strong> {{movie.año}} </li>
    <li><strong>Actores: </strong>
      <ul>
        {% for act in movie.actores %}
        <li>Nombre: {{ act.nombre }}</li>
          <li>Personaje: {{ act.personaje }}
            <div class="actors_images">
              <img src="{{ url_for('static', filename='') }}/{{ act.foto }}" alt="Portada de {{ movie.titulo }}.">
            </div>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <a href="{{ url_for('add_carrito', id_pelicula = movie.id) }}">
    Añadir al carrito
  </a>
</div>


{% endblock %}
