{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}
<div class="historial">
  {% if not action %}
  <h2>{{ mensaje }}</h2>
  {% endif %}
  {% if saldo %}
    <h3> Saldo total: {{ saldo }}€ </h3>
    <form action="{{ url_for('add_saldo') }}" method="post" class="historial-form">
      <label for="saldo"><b>Add cash €: </b></label>
      <input name="saldo" id="saldo" type="number" placeholder="Enter amount in euros" min="0" step="1">
      <input type="submit" value="Add cash to account"><br><br>
    </form>
  {% endif %}
  {% for pedido in historial %}
  <button class="pedido" id="{{ pedido.numero_pedido }}"> Pedido número {{ pedido.numero_pedido }}.</button>
  <div class="detalles" id="div{{ pedido.numero_pedido }}">
    <ul>
      <li> Número del pedido: {{ pedido.numero_pedido }}</li>
      <li> id del pedido: {{ pedido.orderid }}</li>    
      <li> Fecha del pedido: {{ pedido.fecha_pedido }}</li>
      <li> Películas compradas:
        <table>
          <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Precio</th>
            <th>Cantidad</th>
          </tr>
          {% for pelicula in pedido.peliculas %}
          <tr>
            <td>{{ pelicula.id }}</td>
            <td>{{ pelicula.titulo }}</td>
            <td>{{ pelicula.precio }}€</td>
            <td>{{ pelicula.cantidad }}</td>
          </tr>
          {% endfor %}
        </table>
      <li> Precio total del pedido: {{ pedido.precio_total }}€.</li>
    </ul>
  </div>
  {% endfor %}
</div>
{% endblock %}
