{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}
<div class= "login">
<h1>Sign In</h1>
<form action="{{ url_for('login') }}" method="post" class="login-form">
  <label for="username"><b>Username: </b></label>
  {% if user %}
  <input name="username" id="username" type="text" value="{{ user }}"><br>
  {% else %}
  <input name="username" id ="username" type="text" placeholder="Enter username (Only alphanumerical, no special characters)"><br>
  {% endif %}
  <label for="password"><b>Password: </b></label>
  <input name="password" id="password" type="password" placeholder="Enter password"><br>
  <input type="submit" value="Login">
</form>
{% if msg %}
  <h2>{{ msg }}</h2>
{% endif %}
<h1> Are you new? Click the link below to register! </h1>
<a href="/register"> Link to the registration page! </a>
</div>
{% endblock %}
